<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Turism_Entity_Model" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;C:\Users\Calin Repede\source\repos\proiect2\Turism.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>